@font-face {
  font-family: "Comfortaa";
  src: url("../../assets/fonts/ComfortaaDaFont/comfortaa/Comfortaa-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: "Comfortaa";
//   src: url("../../assets/fonts/Comfortaa/static/Comfortaa-Bold.ttf") format("truetype");
//   font-weight: 400;;
//   font-weight: 700;
//   font-style: normal;
// } 