$goalkeep-purple: #3D2E64;
$white: #FFF;
$goalkeep-black: rgba(27, 24, 31, 0.90);
$goalkeep-lightpurple: #6D5E85;
$goalkeep-grey: #D4D4D4;
$goalkeep-darkgrey: rgba(0, 0, 0, 0.45);

$category-green: #56A954;
$category-blue:#68AADA;
$category-red: #DA6868;
$category-yellow: #F2D16B;
$category-purple: #A68ABD;
$category-orange: #F2A675;
$category-pink: #F28DA6;